*{
    font-family: 'Orbitron';
    padding: 0;
    margin: 0;
}
body{
    overflow-x:hidden;
}
#logs_status{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    width: 100%;
}
.nav-bar{
    list-style: none;
    padding: 12px 64px 12px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007BFF;
    font-size: 25px;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-weight: 500;
    font-size: 16px;
}
.list li{
    font-weight: 500px;
}
.list a{
    text-decoration: none;
    color: black;
}


#sidebar-btn {
    border: none;
    display: none;
}
.btn-move{
    transform: translate(-222px,0);
    transition: 0.5s;
}
.sidebar{
    display: none;
}

#xmark{
 color: #fff;
 font-size: 30px;
 background-color: red;
 clip-path: circle(46%);
}

.sidebar a{
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.sidebar li{
    margin-top: 45px;
    transition: 0.5s;
}
.sidebar li:hover{
    transform: translateX(-20px);
    transition: 0.5s;
    color: #007BFF;
}
.sidebar a:hover{
    color: #007BFF;
}

.noborder{
   border: 0px;
}


.container{
    padding: 64px;
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.part2{
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    justify-content: end;
}
.dot{
    display: flex;
    gap:4px ;
    justify-content: center;
    align-items: center;

}
#circle{
    width: 12px;
    height: 12px;
    background: #DC3545;
    border-radius: 50%;
}
.word2{
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}
#live{
    width: 800px;
    height: 450px;
    border-radius: 10px;
    gap: 10px;
}

.ultrasonic-reads{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.ultra{
    font-size: 30px;
    margin: 0;
    text-align: center;
    font-weight: 700;
}
.reads{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
}
.left-ultra{
    width: 255px;
    height: 100px;
    background-color: rgba(40, 167, 69, 0.1);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
}
.left-ultra p{
    margin-top: 20px;
    color: rgb(51, 186, 51);
}
.left-ultra .from-back{
    margin-top: 15px;
    color: black;
    font-size: 20px;
}
.front-ultra{
    width: 255px;
    height: 100px;
    background-color: rgba(40, 167, 69, 0.1);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
}
.front-ultra p{
    margin-top: 15px;
    color: rgb(51, 186, 51);
}
.front-ultra .from-back{
    margin-top: 20px;
    color: black;
    font-size: 20px;
}
.right-ultra{
    width: 255px;
    height: 100px;
    background-color: rgba(40, 167, 69, 0.1);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
}
.right-ultra p{
    margin-top: 15px;
    color: rgb(51, 186, 51);
}
.right-ultra .from-back{
    margin-top: 20px;
    color: black;
    font-size: 20px;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 30px;
    margin: 0;
    font-weight: 700;

}
.car-online{
    background-color: rgba(40, 167, 69, 0.1);
    color: rgb(40, 170, 69);
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    width: 100%;
}
.con{
    display:flex;
    justify-content: space-between;
}
.square{
    width:280px;
    height: 77px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #DADCE0
}
.up{
    display: flex;
    gap: 4px;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #767676;
}
.down{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}
.ss{
    position: relative;
    left:-55px ;
}
.hardware{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arduino , .rpi{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: bold;
}
.arduino input,.rpi input{
    width: 340px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    padding:0 5px ;
}

.send{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 18px;
    font-weight: bold;
    background-color: #1dcb457b;
    border: 2px solid green;
}
.location-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    font-weight: bold;
}
.co-ordinates{
    display: flex;
    gap: 30px;
    align-items: center;
}
#latitude , #Longitude , #altitude{
    width: 180px;
    height: 40px;
    border: 4px solid #1dcb457b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.axes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 68px;
}
.x{
    width: 180px;
    height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 17px;
    border: 4px solid #007BFF;
    border-radius: 10px;
}
.y{
    width: 180px;
    height: 40px;
    position: relative;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 18px;
    border: 4px solid #007BFF;
    border-radius: 10px;
}
.z{
    width: 180px;
    height: 40px;
    border: 4px solid #007BFF;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}

@media (max-width:600px){
    body{
        overflow-x: hidden;
       }
       .logs_status{
        width: 100%;
       }
       .nav-bar{
           padding: 12px 32px 12px 32px;
       }
       .list{
           display: none;
       }
       #sidebar-btn{
        background-color: #fff;
        color: #007BFF;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        font-size: 25px;
        border-radius: 5px;
        position: relative;
        right: 0px;
        transition: 0.5s;
    }
    .btn-move{
        transform: translate(-170px, 0);
        transition: 0.5s;
    }
    .sidebar{
        background-color:#fff ;
        border: 1px solid #007BFF;
        width: 200px;
        height: 100%;
        position: absolute;
        right: 0px;
        top: 0;
        z-index: 1500;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        transition: 0.5s;
        transform: translate(250px,0);
    }
    .hide{
        display: none;
        transition: 0.5s;
    }
    .side-move{
        transform: translate(0px,0px);
        transition: 1s;
    }
       .container{
           padding: 32px;
           display: flex;
           flex-direction: column;
           gap: 0px;
       }
       .left{
           display: flex;
           flex-direction: column;
           gap: 10px;
       }
       .part2{
           display: flex;
           justify-content: center;
           align-items: center;
       }
       #live{
           width: 360px;
       }
       .ultra{
           font-size: 20px;
       }
       .reads{
           gap: 6px;
       }
       .left-ultra{
           width: 115px;
           font-size: 15px;
       }
       .left-ultra .from-back{
           font-size: 15px;
       }
       .front-ultra{
           width: 115px;
           font-size: 15px;
       }
       .front-ultra .from-back{
           font-size: 15px;
       }
       .right-ultra{
           width: 115px;
           font-size: 15px;
       }
       .right-ultra .from-back{
           font-size: 15px;
       }
       .right{
           margin-top: 30px;
       }
       .status{
           display: flex;
           flex-direction: column;
           justify-content:center;
           align-items: center;
           gap: 6px;
           font-size: 18px;
       }
       .con{
           display:flex;
           justify-content: center;
           align-items: center;
           gap: 6px;
       }
       .square{
           width:100px;
           height: 77px;
       }
       .up{
           font-size: 15px;
       }
       .down{
           font-size: 15px;
       }
       .ss{
        position: relative;
        left:-27px ;
    }
       
   .hardware{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 6px;
   }
   .arduino , .rpi{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 10px;
   }
   .arduino input,.rpi input{
       width: 340px;
   }
   .location-data{
        display: flex;
        gap: 15px;
        font-size: 18px;
   
   }
   .co-ordinates{
       display: flex;
       justify-content: center;
       gap: 12px;
       align-items: center;
       flex-direction: column;
       font-size: 13px;
   }
   #latitude , #Longitude , #altitude{
    width: 340px;
}
   .axes{
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       gap: 12px;
   }
   .x{
    width: 340px;
    position: relative;
       left: 0px;

   }
   .y{
    width: 340px;
    position: relative;
       left: 0px;
   
   }
   .z{
    width: 340px;
}
   
}
@media (min-width:601px) and (max-width:1024px){
    
    body{
     overflow-x: hidden;
    }
    .nav-bar{
        padding: 12px 32px 12px 32px;
        overflow-x: hidden;
    }
    .list{
        display: none;
    }
    #sidebar-btn{
        background-color: #fff;
        color: #007BFF;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        font-size: 25px;
        border-radius: 5px;
        position: relative;
        right: 0px;
        transition: 0.5s;
    }
    .sidebar{
        background-color:#fff ;
        border: 1px solid #007BFF;
        width: 250px;
        height: 100%;
        position: absolute;
        right: 0px;
        top: 0;
        z-index: 1500;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        transition: 0.5s;
        transform: translate(250px,0);
    }
    .hide{
        display: none;
        transition: 0.5s;
    }
    .side-move{
        transform: translate(0px,0px);
        transition: 1s;
    }
    .container{
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .left{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .part2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #live{
        width: 600px;
    }
    .ultra{
        font-size: 25px;
    }
    .reads{
        gap: 6px;
    }
    .left-ultra{
        width: 200px;
        font-size: 15px;
    }
    .left-ultra .from-back{
        font-size: 15px;
    }
    .front-ultra{
        width: 200px;
        font-size: 15px;
    }
    .front-ultra .from-back{
        font-size: 15px;
    }
    .right-ultra{
        width: 200px;
        font-size: 15px;
    }
    .right-ultra .from-back{
        font-size: 15px;
    }
    .right{
        margin-top: 30px;
    }
    .status{
        display: flex;
        justify-content:center;
        align-items: center;
        gap: 6px;
        flex-direction: column;
        
     
    }
    .car-online{
        font-size: 20px;
        height: 40px;
        width:600px;
    }
    .con{
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .square{
        width:180px;
        height: 77px;
    }
    .up{
        font-size: 15px;
    }
    .down{
        font-size: 20px;
    }
    
.hardware{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.arduino , .rpi{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.arduino input,.rpi input{
    width: 230px;
   

}
.send{
    margin-bottom: 6px;
}

.location-data{
    gap: 15px;

}
.co-ordinates{
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    font-size: 13px;
}
#latitude , #Longitude , #altitude{
    width: 125px;
}
.axes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}
.x{
    width: 125px;
    position: relative;
    left: 17px;
}
.y{
    width: 125px;
    position: relative;
    left: 18px;

}
.z{
    width: 125px;
}

}

